html, body, #root, .App {
  height: 100%;
}

.App {
  overflow: hidden;
}

.Game {
  margin: auto;
  height: calc(100% - 3rem);
  width: 100%;
}

@media (orientation: portrait) and (max-width: 600px) {
  .Game {
    width: 95%;
  }
}

@media (orientation: portrait) and (min-width: 600px) {
  .Game {
    width: 80%;
  }
}

@media (orientation: landscape) {
  .Game {
    padding: 1rem 0;
    height: calc(100% - 5rem);
  }
}

.uppercase .Disk {
  text-transform: uppercase;
}

.lowercase .Disk {
  text-transform: lowercase;
}