html, body, #root, .App, .Main {
  height: 100%;
  height: 100dvh;
  
  min-height: 100%;
  min-height: 100dvh;
  
  max-height: 100%;
  max-height: 100dvh;
}

.App {
  background-color: #f2f2f2;
  overflow: hidden;
}

.Main {
  background-color: white;
  grid-column-start: 2;
}

.Game {
  margin: auto;
  height: calc(100% - 5rem);
  width: 100%;
}

.gameLabel {
  position: absolute;
  font-size: 1.1rem;
  top: 1rem;
}

.gameLabel.left {
  left: 2rem;
}

.gameLabel.right {
  right: 2rem;
}

.actionButton svg {
  width: 1.25em;
  height: 1.25em;
}

.shareOption {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.shareOption:hover:not(:active) {
  opacity: 0.75;
}

.horizontal-ad {
  width: 100%;
  height: 90px;
}

.vertical-ad-left, .vertical-ad-right {
  width: 100%; 
  height: 100%;
}

@media (orientation: portrait) {
  .Main {
    height: calc(100% - 90px);
    height: calc(100dvh - 90px);
    
    min-height: calc(100% - 90px);
    min-height: calc(100dvh - 90px);
    
    max-height: calc(100% - 90px);
    max-height: calc(100dvh - 90px);
  }
  
  .gameLabel {
    font-size: 1.25rem;
    top: 1.5rem;
  }
  
  .actionButton {
    bottom: calc(1rem + 90px);
    right: 1.5rem;
  }
}

/* Mobile - Portrait mode */
@media (orientation: portrait) and (max-width: 600px) {
  .Game {
    width: 95%;
  }
  
  .gameLabel.left {
    left: 0.85rem;
  }

  .gameLabel.right {
    right: 0.85rem;
  }
}

/* Tablet - Portrait mode */
@media (orientation: portrait) and (min-width: 600px) {
  .Game {
    width: 70%;
  }
  
  .gameLabel.left {
    left: -15%;
  }

  .gameLabel.right {
    right: -15%;
  }
}

@media (orientation: landscape) {
  .App {
    display: grid;
  }
}

/* Mobile - Landscape mode */
@media (orientation: landscape) and (max-height: 600px) {
  .App {
    grid-template: 100% / 20% 60% 20%;
  }
  
  .Game {
    padding: 0.5rem 0;
    height: calc(100% - 4rem);
  }
  
  .actionButton {
    width: 3rem !important;
    height: 3rem !important;
    bottom: 1rem;
    right: calc(20% + 1.5rem);
  }
  
  .actionButton svg {
    width: 1em;
    height: 1em;
  }
}

/* Tablet - Landscape mode */
@media (orientation: landscape) and (min-height: 600px) and (max-width: 1200px) {
  .App {
    grid-template: 100% / 17.5% 65% 17.5%;
  }
  
  .Game {
    padding: 1rem 0;
    height: calc(100% - 5rem);
  }
  
  .gameLabel {
    font-size: 1.25rem;
    top: 1.5rem;
  }
  
  .actionButton {
    bottom: 1rem;
    right: calc(17.5% + 1.5rem);
  }
}

/* Laptop */
@media (orientation: landscape) and (min-height: 600px) and (min-width: 1200px) and (max-width: 1536px) {
  .App {
    grid-template: 100% / 20% 60% 20%;
  }
  
  .Game {
    padding: 2rem 0;
    height: calc(100% - 7rem);
  }
  
  .gameLabel {
    font-size: 1.5rem;
  }
  
  .gameLabel.left {
    left: 2rem;
  }

  .gameLabel.right {
    right: 2rem;
  }
  
  .actionButton {
    bottom: 1rem;
    right: calc(20% + 1.5rem);
  }
}

/* Large monitor or tv */
@media (orientation: landscape) and (min-height: 600px) and (min-width: 1536px) {
  .App {
    grid-template: 100% / 17.5% 65% 17.5%;
  }
  
  .Game {
    padding: 4rem 0;
    height: calc(100% - 11rem);
  }
  
  .gameLabel {
    font-size: 1.5rem;
  }
  
  .actionButton {
    bottom: 1rem;
    right: calc(17.5% + 1.5rem);
  }
}

.uppercase .Disk {
  text-transform: uppercase;
}

.lowercase .Disk {
  text-transform: lowercase;
}

.MuiDialog-root, .MuiDialog-root * {
  /* Font boosting fix */
  max-height: 1000000px;
}